body{
    font-family: sans-serif;
}

h1{
    background-color: salmon;
}

h2{
    background-color: silver;
}

.consists{
    color: salmon;
}

#green{
    color:saddlebrown;
}

a{
    background-color:black;
    color: white;
}

p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img{
    width: 200px;
}

footer{
    font-size: 20px;
}